<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--
     _____                            ____            _                       _
    |  ___|   _ _ __  _ __           | __ )  ___  ___| | _____ _ __        __| | ___
    | |_ | | | | '_ \| '_ \   _____  |  _ \ / _ \/ __| |/ / _ \ '__|      / _` |/ _ \
    |  _|| |_| | | | | | | | |_____| | |_) |  __/ (__|   <  __/ |     _  | (_| |  __/
    |_|   \__, |_| |_|_| |_|         |____/ \___|\___|_|\_\___|_|    (_)  \__,_|\___|
          |___/
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{file.meta.title}}</title>

    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="/css/sg.css">

    <!--[if !IE]><!-->
    <link rel="stylesheet" href="/css/styles.css?ver={{version}}">
    <!--<![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/styles.splitted.css?ver={{version}}">
    <![endif]-->
  </head>
  <body>

    <!-- Styleguide Nav -->
    {{> "styleguide/nav"}}

    <header class="sg-header">
      <h1 class="sg-header__title">{{file.meta.title}}</h1>
      <p class="sg-header__description">{{file.meta.description}}</p>
    </header>

    <main class="sg-body">
      {{{block "content"}}}
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.3/holder.js"></script>
    <script src="/js/scripts.js?ver={{version}}"></script>
  </body>
</html>
