<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{@file.meta.title}}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{rel}}css/sg.css">
    <link rel="stylesheet" href="{{rel}}css/styles.css">
  </head>
  <body>

    <!-- Styleguide Nav -->
    {{> "styleguide/nav"}}

    <header class="sg-header">
      <h1 class="sg-header__title">{{@file.meta.title}}</h1>
      <p class="sg-header__description">{{@file.meta.description}}</p>
    </header>

    <main class="sg-body">
      {{{block "body"}}}
    </main>

    <!-- JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.3/holder.js"></script>
    <script src="{{rel}}js/scripts.js"></script>
  </body>
</html>
