<!DOCTYPE html>
<html{{#if lang}} lang="{{lang}}"{{/if}}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if @file.meta.description~}}<meta name="description" content="{{@file.meta.description}}">{{/if}}
    {{#if @file.meta.title}}<title>{{@file.meta.title}}</title>{{/if}}

    <!-- CSS -->
    <link rel="stylesheet" href="{{rel}}css/sg.css?v={{version}}">
    <link rel="stylesheet" href="{{rel}}css/styles.css?v={{version}}">
  </head>
  <body>

    {{> "styleguide/nav"}}

    <header class="sg-header">
      {{#if @file.meta.title}}<h1 class="sg-header__title">{{@file.meta.title}}</h1>{{/if}}
      {{#if @file.meta.description}}<p class="sg-header__description">{{@file.meta.description}}</p>{{/if}}
    </header>

    <main class="sg-body">
      {{{block "body"}}}
    </main>

    <!-- JS -->
    <script src="{{rel}}js/sg.js?v={{version}}"></script>
    <script src="{{rel}}js/svgxuse.js?v={{version}}"></script>
    <script src="{{rel}}js/scripts.js?v={{version}}"></script>
  </body>
</html>
