<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!--
     _____                            ____            _                       _
    |  ___|   _ _ __  _ __           | __ )  ___  ___| | _____ _ __        __| | ___
    | |_ | | | | '_ \| '_ \   _____  |  _ \ / _ \/ __| |/ / _ \ '__|      / _` |/ _ \
    |  _|| |_| | | | | | | | |_____| | |_) |  __/ (__|   <  __/ |     _  | (_| |  __/
    |_|   \__, |_| |_|_| |_|         |____/ \___|\___|_|\_\___|_|    (_)  \__,_|\___|
          |___/
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{file.meta.title}}</title>

    {{#if displayNav}}
    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="/css/sg.css">
    {{/if}}

    <!--[if !IE]><!-->
    <link rel="stylesheet" href="/css/styles.css?ver={{version}}">
    <!--<![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="/css/styles.splitted.css?ver={{version}}">
    <![endif]-->
  </head>
  <body>

    {{#if displayNav}}
    <!-- Styleguide Nav -->
    {{> "styleguide/nav"}}
    {{/if}}

    {{{block "content"}}}

    <script src="/js/scripts.js?ver={{version}}"></script>
  </body>
</html>
