<!DOCTYPE html>
<html{{#if lang}} lang="{{lang}}"{{/if}}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if @file.meta.description}}<meta name="description" content="{{@file.meta.description}}">{{/if}}
    {{#if @file.meta.title}}<title>{{@file.meta.title}}</title>{{/if}}

    <!-- CSS -->
    {{#if dev}}<link rel="stylesheet" href="{{rel}}css/sg.css?v={{version}}">{{/if}}
    <link rel="stylesheet" href="{{rel}}css/styles.css?v={{version}}">
  </head>
  <body>

    {{#if dev}}{{> "styleguide/nav"}}{{/if}}

    {{{block "body"}}}

    <!-- JS -->
    {{#if dev}}<script src="{{rel}}js/sg.js?v={{version}}"></script>{{/if}}
    <script src="{{rel}}js/svgxuse.js?v={{version}}"></script>
    <script src="{{rel}}js/scripts.js?v={{version}}"></script>
  </body>
</html>
