<!DOCTYPE html>
<html{{#if meta.lang}} lang="{{meta.lang}}"{{/if}}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{#if (page "description")~}}<meta name="description" content="{{page 'description'}}">{{/if}}
    {{#if (page "title")}}<title>{{page "title"}}</title>{{/if}}

    <!-- CSS -->
    {{#if meta.dev}}<link rel="stylesheet" href="{{page 'reldir'}}css/sg.css?v={{meta.version}}">{{/if}}
    <link rel="stylesheet" href="{{page 'reldir'}}css/styles.css?v={{meta.version}}">
  </head>
  <body>

    {{#if meta.dev}}{{> "styleguide/nav"}}{{/if}}

    {{{block "body"}}}

    <!-- JS -->
    {{#if meta.dev}}<script src="{{page 'reldir'}}js/sg.js?v={{meta.version}}"></script>{{/if}}
    <script src="{{page 'reldir'}}js/svgxuse.js?v={{meta.version}}"></script>
    <script src="{{page 'reldir'}}js/scripts.js?v={{meta.version}}"></script>
  </body>
</html>
