<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{file.meta.title}}</title>

    {{#if displayNav}}
    <!-- Styleguide CSS -->
    <link rel="stylesheet" href="/css/sg.css">
    {{/if}}

    <!--[if !IE]><!-->
    <link rel="stylesheet" href="/css/styles.css?ver={{version}}">
    <!--<![endif]-->
    <!--[if IE]>
    <link rel="stylesheet" href="/css/styles.splitted.css?ver={{version}}">
    <![endif]-->
  </head>
  <body>

    {{#if displayNav}}
    <!-- Styleguide Nav -->
    {{> "styleguide/nav"}}
    {{/if}}

    {{{block "content"}}}

    {{#if displayNav}}
    <!-- Include Holder.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.3/holder.js"></script>
    {{/if}}
    <script src="/js/scripts.js?ver={{version}}"></script>
  </body>
</html>
