<article class="sg-article">
{{#if title}}
  <header class="sg-article__header">
    <h2 class="sg-article__title">{{title}}</h2>
    {{#if description}}<p class="sg-article__description">{{description}}</p>{{/if}}
  </header>
{{/if}}

  <div class="sg-article__body{{#if padding}} sg-article__body--padding-{{padding}}{{/if}}{{#if background}} sg-article__body--bg{{/if}}"{{#if background}} style="background: {{background}}"{{/if}}>
    {{{block "body"}}}
  </div>
</article>
