<nav class="sg-nav js-sg-nav">
  <ul class="sg-nav__list">

  {{#each navItems}}
    <li class="sg-nav__item">

      <button class="sg-nav__button js-sg-nav-btn">
        <span class="sg-nav__icon" style="display: none;">{{this.icon}}</span>
        <span class="sg-nav__text">{{this.name}}</span>
      </button>

      <ul class="sg-nav__sub-list js-sg-nav-sub">
      {{#each this.pages}}
        <li class="sg-nav__sub-item">
          <a href="{{rel}}{{this.url}}" class="sg-nav__link">{{this.name}}</a>
        </li>
      {{/each}}
      </ul>

    </li>
  {{/each}}

    <li class="sg-nav__item">
      <button class="sg-nav__button js-sg-nav-btn">
        <span class="sg-nav__icon" style="display: none;">S</span>
        <span class="sg-nav__text">Settings</span>
      </button>
      <ul class="sg-nav__sub-list js-sg-nav-sub">
        <li class="sg-nav__sub-item">
          <a href="{{rel}}img/icons.html" class="sg-nav__link" target="_blank">Icon Preview</a>
        </li>
        <li class="sg-nav__sub-item">
          <a href="http://localhost:3001" class="sg-nav__link" target="_blank">Browsersync</a>
        </li>
      </ul>
    </li>

    <li class="sg-nav__item" style="display: none;">
      <button class="sg-nav__button js-sg-nav-btn">
        <span class="sg-nav__icon" style="display: none;">A</span>
        <span class="sg-nav__text">Accessibility</span>
      </button>
      <ul class="sg-nav__sub-list js-sg-nav-sub">
        <li class="sg-nav__sub-item">
          <button class="sg-nav__link js-sg-a11y-contrast">Contrast Check</button>
        </li>
        <li class="sg-nav__sub-item">
          <button class="sg-nav__link js-sg-a11y-duplicate-id">Duplicate ID</button>
        </li>
        <li class="sg-nav__sub-item">
          <button class="sg-nav__link js-sg-a11y-alt">Highlight missing <code>alt</code></button>
        </li>
      </ul>
    </li>

  </ul>

  <button class="sg-nav__hide-btn js-sg-nav-hide-btn" style="display: none;">
    <svg class="sg-nav__hide-btn-icon sg-nav__hide-btn-icon--close" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    </svg>
    <svg class="sg-nav__hide-btn-icon sg-nav__hide-btn-icon--show" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </svg>
  </button>
</nav>
