{{#if displayNav}}
<nav class="sg-nav" id="sg-nav">
  <button class="sg-nav__btn" id="sg-nav__btn">
    <span class="sg-nav__icon"></span>
  </button>
  <ul class="sg-nav__list">
    <li><span class="sg-nav__title">Pages</span></li>
    {{#each navItems.pages}}
    <li><a href="{{../root}}{{href}}" class="sg-nav__link">{{title}}</a></li>
    {{/each}}

    <li><span class="sg-nav__title">Components</span></li>
    {{#each navItems.components}}
    <li><a href="{{../root}}{{href}}" class="sg-nav__link">{{title}}</a></li>
    {{/each}}

    <li><span class="sg-nav__title">Settings</span></li>
    <li><a href="http://localhost:3001" class="sg-nav__link">BrowserSync</a></li>
  </ul>
</nav>

<script>
  var sgNav     = document.getElementById('sg-nav');
  var sgNavBtn  = document.getElementById('sg-nav__btn');
  var sgNavOpen = false;

  sgNavBtn.onclick = function() {
    sgNav.classList.toggle('sg-nav--open');
  };
</script>
{{/if}}
