<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if (page "description")~}}<meta name="description" content="{{page 'description'}}">{{/if}}
    {{#if (page "title")}}<title>{{page "title"}}</title>{{/if}}

    <link rel="stylesheet" href="{{page 'rel'}}css/sg.css">
    <link rel="stylesheet" href="{{page 'rel'}}css/styles.css">

    <script defer src="{{page 'rel'}}js/sg.js"></script>
    <script defer src="{{page 'rel'}}js/scripts.js"></script>
  </head>
  <body>

    {{> sg/nav}}

    <header class="sg-header">
      {{#if (page "title")}}<h1 class="sg-header__title">{{page "title"}}</h1>{{/if}}
      {{#if (page "description")}}<p class="sg-header__description">{{page "description"}}</p>{{/if}}
    </header>

    <main class="sg-body">
      {{{block "body"}}}
    </main>

  </body>
</html>
