<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{#if (page "description")~}}<meta name="description" content="{{page 'description'}}">{{/if}}
    {{#if (page "title")}}<title>{{page "title"}}</title>{{/if}}

    {{#if meta.dev}}<link rel="stylesheet" href="{{page 'rel'}}css/sg.css">{{/if}}
    <link rel="stylesheet" href="{{page 'rel'}}css/styles.css">

    {{#if meta.dev}}<script defer src="{{page 'rel'}}js/sg.js"></script>{{/if}}
    <script defer src="{{page 'rel'}}js/scripts.js"></script>
  </head>
  <body>

    {{#if meta.dev}}{{> sg/nav}}{{/if}}

    {{{block "body"}}}

  </body>
</html>
